# Node
node_modules/
**/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Expo / React Native
.expo/
.expo-shared/
android/
ios/
web-build/

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# Misc
.DS_Store
